{
  globals: {
    describe: true,
    it: true,
    before: true,
    after: true,
    beforeEach: true,
    afterEach: true,
  },

  rules: {
    max-nested-callbacks: 0, // Mocha works with deeply nested callbacks
    new-cap: 0, // test constructors as regular functions
  },
}
